@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Coffee Shop</h1>
    <p><a href="../home/Register">Click to register an account</a></p>
</div>
